{% extends layout %}

{% block title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans %}page.error404.title{% endtrans %}
    {% endif %}
{% endblock %}

{% block page %}
    <div class="page">
        {% if page %}
            {{ page.content|raw }}
        {% else %}
            <div class="error404">
                <h1>{% trans %}page.error404.title{% endtrans %}</h1>
                {% trans %}page.error404.description{% endtrans %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block description %}{% if page %}{{ page.description }}{% endif %}{% endblock %}

{% block keywords %}{% if page %}{{ page.keywords }}{% endif %}{% endblock %}