#page{
    font: normal 13px/18px "Verdana",Arial,sans-serif;
    text-align: justify;
}

#page h2{
    font: normal 18px/32px "Verdana",Arial,sans-serif;
}

#page h3{
    font: normal 16px/28px "Verdana",Arial,sans-serif;
}

#page h4{
    font: bold 14px/16px "Verdana",Arial,sans-serif;
}

#page p{
    margin-bottom: 3px;
}

#page ul{
    padding-left: 30px;
    list-style: square;
}

#page ul li{
    margin: 2px 0;
}

#page .error404 {
    font: bold 14px/16px "Verdana",Arial,sans-serif;
    color: #666;
    text-align: center;
    padding: 5em 3em;
}
#page .error404 h1{
    font-size: 32px;
}